body{
    background-color: skyblue;
   
}
h1{
  position: relative;
  left: 550px;
}
.face {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: pink;
  position: relative;
  left : 500px;
  top: 150px
}
 .eye.left {
  width: 75px;
  height: 75px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 150px;
  left: 70px;
}
.eye.right {
  width: 75px;
  height: 75px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 80px;
  left: 250px;
}
.eye.left.in {
  width: 45px;
  height: 45px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: 25px;
  left: 80px;
}
.eye.right.in{
  width: 45px;
  height: 45px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: -18px;
  left: 260px;
}

.ear {
  width: 125px;
  height: 125px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
}

.ear.left {
  bottom: 375px;
  left: 30px;
  border-bottom-left-radius: 50%;
}

.ear.right {
  bottom: 375px;
  right: 30px;
  border-bottom-right-radius: 50%;
}
.ear.left.in {
  height: 80px;
  width: 80px;
  bottom: 375px;
  left: 60px;
  background-color: red;
  border-bottom-left-radius: 50%;
}

.ear.right.in {
  height: 80px;
  width: 80px;
  bottom: 375px;
  right: 60px;
  background-color: red;
  border-bottom-right-radius: 50%;
}
.mouth {
  width: 140px;
  height: 110px;
  border: 2px solid black;
  border-radius: 50%;
  background-color:rgb(224, 14, 95);
  position: absolute;
  top: 270px;
  left: 130px;
}
.mouth.l {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  background-color:red;
  position: absolute;
  top: 320px;
  left: 210px;
}
.mouth.r{
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  background-color:red;
  position: absolute;
  top: 320px;
  left: 160px;
}